.navBar {
  color: white;
  background-color: transparent;
  height: 90px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  padding-bottom: 16px;
  transition: top 0.3s;
}

.ul_visible {
  justify-content: center;
  list-style-type: none;
  z-index: auto;
  align-items: flex-start;
}
.nav_li {
  padding-top: 25px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  color: white;
  display: inline-block;
  margin: 18px;
  font-size: 14px;
  height: 60px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.nav_li_container {
  display: flex;
  flex: column;
}

.logo {
  height: 80px;
  align-items: center;
  padding-top: 8px;
  justify-content: center;
  display: block;
}
.icon {
  display: none;
}
.nav_li :after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #8c7156;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav_li :hover:after {
  width: 100%;
  left: 0;
  margin-top: 8px;
}
@media screen and (max-width: 1000px) {
  .navBar {
    height: 53px;
    margin-bottom: 0px;
    position: static;
    background-color: black;
  }
  .logo {
    align-items: center;
    position: absolute;
    height: 48px;
  }
  .ul_visible {
    margin-top: 0;
    top: 53px;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: black;
  }
  .nav_li {
    left: 16px;
    align-items: center;
    justify-content: center;
    display: list-item;
    margin-top: 0;
  }
  .ul_hide {
    display: none;
  }

  .closeIcon {
    position: initial;
    align-items: baseline;
    color: white;
    font-size: 30px;
  }
  .icon {
    position: absolute;
    display: inline;
    left: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  .nav_li :hover:after {
    width: 50%;
    left: 0;
    margin-top: 8px;
  }
}
