.imageContainer {
  /* height: 720px; */
  width: 100%;
  height: 5745px;
  background-color: rgba(20, 20, 20, 0.89);
  background-position: 50% 0px;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://getuct.com/images/UNIVERSAL-CODE-TECHNOLOGIES-WH.jpg");
}

@media screen and (max-width: 720px) {
  .imageContainer {
    background-image: url("https://getuct.com/images/UNIVERSAL-CODE-TECHNOLOGIES-WH-mobile-view.jpg");
  }
}
